body{
    font-family: Arial, sans-serif;
    width: 90%;
    height: 80%;
    background-image:url(imagens/AgriBorrada.png);
    box-sizing: border-box;
    align-items: center;
    text-align: center;
}

form{
    width: 200px;
    height: 200px;
    margin: 180px auto;
    text-align: center;
}

div{
    align-content: center;
    padding-bottom: 20px;
    background-color: #A3B6A2;
    width: 350px;
    border-radius: 10px;
}

@font-face {
    font-family: alta;
    src: url(c:\Users\laura\Downloads\alta-regular.otf);
 }

h1{
    font-family: alta;
    font-weight: 100;
    text-align: center;
    width: 350px;
    color: #14194B;
}

input[type="text"],
input[type="password"] {
    display: block;
    text-align: left;
    margin: 20px auto;
    width: 300px;
    height: 60px;
    border-radius: 10px;
    padding-left: 10px;
    align-content: center;
    color: #213866;
    background-color: #FFFBC3;
    border-color: transparent;
}

input[type="submit"] {
    width: 100px;
    height: 40px auto;
    text-align: center;
    color: #14194B;
    background-color: #D5E8B0;
    border: transparent;
}